<template>
  <div class="home">
    <div class="search"> <h1>Find a Recipe</h1>
      <input ref="searchInput" type="text" placeholder="search..." v-model="query" @keydown.enter="search">
      <button @click="search">Search</button>
    </div>

    <div class="results">
      <div class="results-header" v-if="currQuery.length > 0">
        <div v-if="meals && meals.length > 0">
          <p> {{ meals.length }} results for {{ currQuery }}</p>
          <p> Filtered results
            <select v-model="searchFilter">
              <option value="">View All</option>
              <option v-for="category in searchFilterOptions"
                      :key="category"  :value="category">{{category}}</option>

            </select>

          </p>
        </div>
        <div v-else>
          <p>no result</p>
        </div>
        </div>


      <div class="results-cards">
        <recipe-card
            v-for="meal in filteredMeals"
            :key="meal.idMeal"
            :id="meal.idMeal"
            :recipe-name="meal.strMeal"
            :category="meal.strCategory"
            :thumb="meal.strMealThumb"
            :tags="(meal.strTags) ? meal.strTags.split(',') : []"
        />
      </div>
    </div>
  </div>
</template>

<script>
import RecipeCard from "../components/RecipeCard.vue";
import {ref, computed, reactive, onMounted} from "vue";
import {useSearch} from "../composables/search.js";

export default {
  components: {
    RecipeCard,
  },
  setup(){

    const {currQuery, query, meals, search } = useSearch();
    const state = reactive(useSearch());

    const searchFilter = ref('');
    const searchInput = ref(null);

    onMounted(() => {
      searchInput.value.focus();
    });

    const filteredMeals = computed(()=> {
      if(searchFilter.value.trim().length == 0) {
        return meals.value;
      }

      return meals.value.filter((meal) => {
        return meal.strCategory && meal.strCategory == searchFilter.value;
      });
    });

    const searchFilterOptions = computed(()=> {
      let categories = [];
      meals.value.forEach((meal) => {

        if(meal.strCategory && categories.indexOf(meal.strCategory) == -1) {
          categories.push(meal.strCategory);
        }
      });
      return categories;
    });


    return {
      query,
      currQuery,
      searchFilter,
      meals,

      search,

      filteredMeals,
      searchFilterOptions,

      searchInput,
    };
  },

}
</script>

<style scoped>
.search {
  background-color: #eee;
  text-align: center;
  padding: 30px 0;
}
.search input[type='text'] {
  border: none;
  outline: none;
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
}
.search button {
  border: none;
  outline: none;
  background-color: #e67e22;
  color: white;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
}
.results-header {
  padding: 20px 0;
}
.results-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
