<template>
  <div>
    {{ name }} <br>
    <input type="text" v-model="name">
    <div>
      <button @click="submitForm">Submit</button>
    </div>
  </div>
</template>

<script >
import { ref } from "vue";

export default {
  setup() {
    const name = ref('');

    const submitForm = () => {
      console.log(`Form kek = ${name.value}`);
    }
    
    return {
      name,
      submitForm,
    }
  }
}
</script>



<style >

</style>
