<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import MyForm from './components/MyForm.vue'
import Header from './components/Header.vue'
import Home from './views/Home.vue'
</script>

<template>
  <Header title="лолкек чебурек" />
  <router-view :key="($route.meta.key) ? $route.meta.key($route): 'default'" />

</template>

<style>
body {
  margin: 0;
  background-color: whitesmoke;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
